html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
  background-color: #000000;
}

.btn {
	color: white;
    white-space: normal;
    width: 100%;
}

#colorpicker {
	/* http://stackoverflow.com/a/7302101/1222411 */
	position: absolute;
	top: -1000000px;
	padding: 0;
	border: 0;
}

#color-picker-button {
	margin-top: 0;
}

.modal-dialog {
  width: 80%;
  height: 90%;
  padding: 0;
}

.modal-content {
  
  height: 100%;
  border-radius: 0;
}

